{% extends 'main/main.html' %}
{% load static%}
{% block content %}
<div class="row" style="padding-left: 20px; padding-top: 20px">
    <div class="col-md-6">
        <div class="card text-center text-white  mb-3" id="delete-warn">
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
            {% endif %}
         <div class="card-header">
			  		<h5 class="card-title">Pick the project you want to assign to {{user}}</h5>
         </div>
         <div class="card card-body">
            <form action="{% url 'assign_project_to_user' user.id %}" method="POST">
                {% csrf_token %}
                 <select class="form-select" aria-label="Default select example" name="project">
                 <option selected>Projects</option>
                 {% for project in projects%}

                 <option value="{{project.id}}" name="project">{{project}}</option>
                 {% endfor %}

                 </select>
                <br>
                <br>
                <a class="btn btn-info" href="{% url 'people'%}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm" value="Submit">


            </form>
         </div>
        </div>
    </div>
</div>

{% endblock %}